@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600&subset=latin-ext);

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.ie9 img[src$=".svg"] {
    width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #777777;
    color: #7f7f7f;
    background: #fff;
    height: 100%;
    position: relative;
}

::-webkit-scrollbar {
    width: 1em;
    color: #fff;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    color: red;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc531;
    outline: 4px solid slategrey;
}

a {
    color: #52d3aa;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #52d3aa;
    outline: none;
}

p {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

::-webkit-selection {
    color: #818892;
    background: #f9f6f0;
}

::-moz-selection {
    color: #818892;
    background: #f9f6f0;
}

::selection {
    color: #818892;
    background: #f9f6f0;
}

ul ul, ol ul {
    list-style-type: disc;
}

.edge--bottom {
    position: relative;
    z-index: 1;
}

.edge--bottom:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.edge--bottom:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
}

.edge--bottom--reverse {
    position: relative;
    z-index: 1;
}

.edge--bottom--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.edge--bottom--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
}

.edge--top {
    position: relative;
    z-index: 1;
}

.edge--top:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.edge--top:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
}

.edge--top--reverse {
    position: relative;
    z-index: 1;
}

.edge--top--reverse:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.edge--top--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0;
}

.edge--both {
    position: relative;
    z-index: 1;
}

.edge--both:before, .edge--both:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.edge--both:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
}

.edge--both:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
}

.edge--both--reverse {
    position: relative;
    z-index: 1;
}

.edge--both--reverse:before, .edge--both--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.edge--both--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0;
}

.edge--both--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 0;
}

#fh5co-header {
    margin-top: 10px;
}

#fh5co-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
}

#fh5co-header #navbar ul {
    border-bottom: 1px solid #f36c23;
}

#fh5co-header #navbar ul.lang {
    border-bottom: none;
    color: #f36c23;
}

#fh5co-header #navbar ul.lang a {
    color: #f36c23;
    font-size: 15px;
    font-weight: 200;
}

#fh5co-header #navbar ul.lang a:hover {
    color: #ffc530;
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    #fh5co-header #navbar ul {
        border-bottom: none;
    }
}

#fh5co-header #navbar li a {
    font-family: "Oswald", sans-serif;
    color: #f36c23;
    position: relative;
    font-size: 23px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: normal;
    text-transform: none;
    padding: 30px 50px 15px 0px;
    border: none !important;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@media screen and (max-width: 1200px) {
    #fh5co-header #navbar li a {
        font-size: 22px;
        padding: 30px 20px 15px 0px;
    }
}

@media screen and (max-width: 991px) {
    #fh5co-header #navbar li a {
        font-size: 20px;
        padding: 30px 5px 15px 0px;
    }
}

#fh5co-header #navbar li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}

#fh5co-header #navbar li a span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -16px;
    left: 0;
    background-color: rgb(255, 199, 54);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#fh5co-header #navbar li a span i {
    font-size: 19px;
    color: #fec525;
}

#fh5co-header #navbar li a:hover {
    color: #ffc530;
    background: none !important;
}

#fh5co-header #navbar li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#fh5co-header #navbar li.active a {
    background: none;
    color: #ffc530;
}

#fh5co-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-nav > li > .dropdown-menu {
    width: 100%;
    padding: 5px !important;
    border-top: 1px solid rgb(255, 197, 49);
}

.navbar-nav > li > .dropdown-menu li {
    border-bottom: 1px solid #fd6c0e;
}

.dropdown-menu li.active a {
    color: #fd6c0e !important;
}

.dropdown-menu > li > a:focus {
    background: none !important;
    outline: none;
}

.navbar-nav > li > .dropdown-menu li:last-child {
    border-bottom: none;
}

.navbar-nav > li > .dropdown-menu li a {
    font-size: 18px !important;
    letter-spacing: 1px !important;
    white-space: normal;
    padding: 5px !important;
    line-height: 25px !important;
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -5px;
    margin-left: -1px;
    border-radius: 0;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-left-color: #fd6c0e;
    margin-top: 7px;
    margin-right: 5px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fec935;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#fh5co-header .navbar-brand {
    height: auto !important;
    padding: 0px 0px !important;
}

@media screen and (max-width: 770px) {
    #fh5co-header .navbar-brand img {
        width: 80px;
    }
}

#fh5co-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    top: 0;
}

#fh5co-header.navbar-fixed-top .navbar-brand {
    color: #52d3aa;
}

#fh5co-header.navbar-fixed-top .navbar-brand img {
    width: 80px;
}

#fh5co-header.navbar-fixed-top #navbar li a {
    padding: 15px 50px 15px 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 991px) {
    #fh5co-header.navbar-fixed-top #navbar li a {
        padding: 15px 20px 15px 0px;
    }
}

#fh5co-header.navbar-fixed-top #navbar li a:hover {
    color: #ffc530;
}

#fh5co-header.navbar-fixed-top #navbar li.active a {
    background: transparent;
    background: none;
    color: #ffc530;
}

#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #ffc530;
}

#fh5co-header .navbar-default {
    border: transparent;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    padding: 10px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #fh5co-header .navbar-default {
        margin-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

#fh5co-header .navbar-default .brand-slogan {
    margin: 28px 0 0 15px;
    float: left;
    letter-spacing: 2px;
    color: #adadad;
}

#fh5co-header .navbar-default .brand-slogan em {
    color: #52d3aa;
    font-style: normal;
}

#fh5co-header a {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

#fh5co-home {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#fh5co-home .text-wrap {
    display: table;
    width: 100%;
    position: relative;
    z-index: 4;
}

#fh5co-home .text-wrap .bu-intro-img {
    position: absolute;
    top: 18px;
    left: 0;
    overflow: hidden;
}

#fh5co-home .text-wrap p {
    font-size: 28px;
    color: #f36c23;
    font-weight: 200;
}

#fh5co-home .text-wrap img {
    width: 100%;
}

#fh5co-home .products-home {
    position: relative;
    top: -300px;
}

@media screen and (max-width: 1200px) {
    #fh5co-home .products-home {
        top: -230px;
    }
}

#fh5co-home .text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#fh5co-home .text-inner a {
    color: white;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#fh5co-home .text-inner a:hover, #fh5co-home .text-inner a:active, #fh5co-home .text-inner a:focus {
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed white;
}

#fh5co-home .text-inner h1 {
    font-size: 50px;
    color: white;
    margin: 0 0 20px 0;
}

#fh5co-home .text-inner h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.blackup-intro {
    float: left;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 992px) {
    .blackup-intro {
        margin-bottom: 3.5em;
    }
}

.blackup-intro .bg-image {
    width: 100%;
}

.blackup-intro figure {
    position: absolute;
    margin-top: 20px;
    top: 0;
    display: block;
}

.blackup-intro figure img {
    width: 100%;
}

.bu-homepage {
    float: left;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 992px) {
    .bu-homepage {
        margin-bottom: 3.5em;
    }
}

.bu-homepage .bg-image {
    width: 100%;
}

.bu-homepage figure {
    position: absolute;
    margin-top: 20px;
    top: 0;
    display: block;
}

.bu-homepage figure img {
    width: 100%;
}

.bu-homepage p {
    font-size: 28px;
    color: #f36c23;
    font-weight: 200;
}

@media screen and (max-width: 992px) {
    .bu-homepage p {
        font-size: 23px;
    }
}

.bu-homepage .product-image {
    width: 300px;
    position: absolute;
    margin-top: 20px;
    left: 15%;
    top: 5%;
    display: block;
}

@media screen and (max-width: 992px) {
    .bu-homepage .product-image {
        width: 200px;
    }
}

.bu-homepage {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
}

.bu-tips {
    float: left;
    width: 100%;
    position: relative;
    background-image: url(../images/home/tips/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .bu-tips {
        margin-bottom: 3.5em;
    }
}

.bu-tips figure {
    position: absolute;
    margin-top: -50px;
    top: 0;
    left: 12%;
    display: block;
}

.bu-tips figure p {
    font-size: 40px;
    width: 100px;
    height: 100px;
    color: #fff;
    padding: 20px 10px 20px 10px;;
    background-color: #FFC530;
    text-transform: uppercase;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.bu-tips p {
    position: absolute;
    margin-top: 100px;
    top: 0;
    left: 45%;
    display: block;
    font-size: 28px;
    color: #f36d24;
    font-weight: 200;
    letter-spacing: 2px;
}

@media screen and (max-width: 400px) {
    .bu-tips figure p {
        font-size: 20px;
        width: 70px;
        height: 70px;
    }

    .bu-tips p {
        font-size: 18px;
    }

    .bu-tips .tips-products {
        margin-top: 120px !important;
    }
}

.bu-tips h3 {
    margin-bottom: 0px;
}

.bu-tips .bu-position {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
}

.bu-tips .tips-products {
    position: absolute;
    margin-top: 180px;
    top: 0;
    left: 28%;
}

.bu-tips .tips-products img {
    width: 550px;
}

@media screen and (max-width: 1200px) {
    .bu-tips .tips-products {
        margin-top: 180px;
    }

    .bu-tips .tips-products img {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .bu-tips .tips-products img {
        width: 250px;
    }

    .bu-tips img {
        width: 70%;
    }

    .bu-ingredient img {
        width: 100%;
    }
}

.bu-facts {
    float: left;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 992px) {
    .bu-facts {
        margin-bottom: 3.5em;
    }
}

.bu-facts .bg-image {
    width: 100%;
}

.bu-facts figure {
    position: absolute;
    margin-top: 20px;
    top: 0;
    display: block;
}

.bu-facts figure img {
    width: 100%;
}

.bu-facts .fact-desciption {
    font-size: 20px;
    color: #f36d24;
    font-weight: 200;
    margin-top: 10px;
    top: 0;
    display: block;
    width: 100%;
    line-height: 21px;
}

.bu-facts .fact-desciption p b {
    font-weight: 400;
}

.bu-facts .fact-desciption ul li {
    font-weight: 400;
    color: #ffc532;
}

.bu-facts .fact-desciption ul li p {
    font-weight: 200;
    margin-bottom: 5px;
    color: #f36d24;
}

.bu-facts .fact-desciption ul li p b {
    font-weight: 400;
}

.bu-facts .fact-desciption ol li {
    font-weight: 400;
    color: #ffc532;
}

.bu-facts .fact-desciption ol li p {
    font-weight: 200;
    color: #f36d24;
    margin-bottom: 10px;
    line-height: 25px;
}

.bu-facts .fact-desciption ol ul li p {
    line-height: 20px;
    margin-bottom: 5px;
}

.bu-facts .fact-desciption ol li p b {
    font-weight: 400;
}

.bu-facts .fact-desciption .title {
    font-weight: 400;
}

@media screen and (max-width: 992px) {
    .bu-facts p {
        font-size: 23px;
    }
}

.bu-facts .product-image {
    width: 300px;
    position: absolute;
    margin-top: 20px;
    right: 0;
    bottom: 0;
    display: block;
}

@media screen and (max-width: 992px) {
    .bu-facts .product-image {
        width: 200px;
    }
}

.bu-facts {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
}

.blackup-product {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 25%;
}

@media screen and (max-width: 1200px) {
    .blackup-product {
        padding-bottom: 40%;
    }
}

@media screen and (max-width: 990px) {
    .blackup-product {
        padding-bottom: 70%;
    }
}

.blackup-product .bg-image {
    width: 100%;
}

.blackup-product figure {
    position: absolute;
    margin-top: 20px;
    top: 0;
    display: block;
}

.blackup-product figure img {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .blackup-product p {
        font-size: 23px;
    }
}

.blackup-product .product-image {
    width: 250px;
    position: absolute;
    left: 20%;
    top: 10%;
    display: block;
}

@media screen and (max-width: 992px) {
    .blackup-product .product-image {
        width: 200px;
        left: 25%;
    }
}

.blackup-product .description {
    width: 550px;
    height: 650px;
    position: absolute;
    right: 7%;
    top: 10%;
    display: block;
    background-color: #fff;
    padding: 15px 0px 15px 15px;
    overflow: scroll;
}

.blackup-product .description p {
    color: #f36c23;
    text-align: left;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 24px;
}

.blackup-product .description p b {
    font-weight: 400;
}

.blackup-product .description ul li {
    color: #fec525;
}

.blackup-product .description ul li p {
    color: #f36c23;
}

@media screen and (max-width: 1200px) {
    .blackup-product .description {
        right: 4%;
        width: 500px;
    }

    .blackup-product .description p {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .blackup-product .description {
        width: 300px;
    }

    .blackup-product .description p {
        font-size: 14px;
    }
}

.blackup-product .thumbnails {
    width: 250px;
    position: absolute;
    left: 0;
    top: 10%;
    display: block;
}

.thumbnails img {
    display: initial;
    max-width: 100%;
    padding: 5px;
    margin-top: 25px;
    height: auto;
}

@media screen and (max-width: 992px) {
    .thumbnails img {
        max-width: 40%;
        margin-top: 0px;
    }
}

.main-image img {
    max-width: 100%;
    padding: 5px;
    height: auto;
}

.thumbnails li {
    list-style-type: none;
}

.thumbnails li img {
    width: 50px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    height: auto;
    background: #fff;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.product-title {
    position: absolute;
    top: -6%;
    left: 34%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.product-title p {
    color: #ffc531;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
    .product-title {
        top: -6.5%;
        left: 34.5%;
    }

    .product-title p {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .product-title {
        top: -7%;
        left: 27.5%;
    }

    .product-title p {
        font-size: 16px;
    }
}

.product .product-type {
    margin-top: -50px;
    margin-bottom: 10px;
}

.product .product-vitamin {
    position: absolute;
    bottom: -90%;
    left: 0;
}

.slider-thumb {
    background: url(../images/products/slider/bg.png);
    padding: 10px;
    background-repeat: no-repeat;
}

.bu-ingredient {
    border: 2px solid #f2f2f2;
    float: left;
    width: 100%;
    position: relative;
    background: url(../images/home/tips/umbrela.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .bu-ingredient {
        margin-bottom: 3.5em;
    }
}

.bu-ingredient figure {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 10%;
    display: block;
}

.bu-ingredient figure p {
    font-size: 40px;
    width: 100px;
    height: 100px;
    color: #fff;
    padding: 20px 10px 20px 10px;;
    background-color: #FFC530;
    text-transform: uppercase;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.bu-ingredient p {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: block;
    font-size: 24px;
    color: #f36d24;
    font-weight: 200;
    text-align: left;
    letter-spacing: 2px;
    line-height: 30px;
}

.bu-ingredient h3 {
    margin-bottom: 0px;
}

.bu-ingredient .bu-ingredient {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
}

.bu-ingredient .ingredient-products {
    position: absolute;
    margin-top: 160px;
    top: 0;
    left: 30%;
}

.bu-ingredient .ingredient-products img {
    width: 480px;
}

.detail i {
    color: #fec525;
    font-size: 50px;
}

.detail a {
    color: #fd6c0e;
}

.detail h3 {
    color: #fd6c0e;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.detail p {
    font-weight: 300;
    line-height: 2;
}

.detail h4, .detail p {
    font-size: 15px;
    color: #fd6c0e;
}

#company.form-control, #email.form-control, #message.form-control, #name.form-control {
    width: 95%;
    border-radius: 0;
    box-shadow: none;
    background: 0 0;
    border: 1px solid #fec526;
    color: #fd6c0e;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
}

::placeholder {
    color: #fd6c0e;
    opacity: 1;
}

#submit {
    font-size: 15px;
    margin-top: 15px;
    color: #fd6c0e;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
}

#fh5co-intro {
    position: relative;
    bottom: 0;
    margin-top: -150px;
    z-index: 10;
    padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
    #fh5co-intro {
        padding-bottom: 3em;
    }
}

#fh5co-intro > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

#fh5co-intro .fh5co-block {
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 16px;
    min-height: 300px;
    vertical-align: middle;
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    z-index: 7;
    flex-grow: 1;
    background-size: cover;
    position: relative;
    backgroun-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    #fh5co-intro .fh5co-block {
        width: 100%;
    }
}

#fh5co-intro .fh5co-block > .overlay-darker {
    z-index: 8;
    opacity: .5;
    background: #474747;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#fh5co-intro .fh5co-block > .overlay {
    background: #fff;
    opacity: 1;
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#fh5co-intro .fh5co-block > .fh5co-text {
    position: relative;
    z-index: 10;
}

#fh5co-intro .fh5co-block > .fh5co-text .fh5co-intro-icon {
    font-size: 50px;
    color: #52d3aa;
    margin-bottom: 30px;
    display: block;
}

#fh5co-intro .fh5co-block h2 {
    font-size: 24px;
    font-weight: 400;
}

#fh5co-intro .fh5co-block:hover > .overlay, #fh5co-intro .fh5co-block:focus > .overlay {
    opacity: 0;
    z-index: 9;
}

#fh5co-intro .fh5co-block:hover > .fh5co-text, #fh5co-intro .fh5co-block:focus > .fh5co-text {
    color: #fff;
}

#fh5co-intro .fh5co-block:hover > .fh5co-text .fh5co-intro-icon, #fh5co-intro .fh5co-block:focus > .fh5co-text .fh5co-intro-icon {
    color: #fff;
}

#fh5co-intro .fh5co-block:hover h2, #fh5co-intro .fh5co-block:focus h2 {
    color: #fff;
}

#fh5co-intro .fh5co-block:hover .btn, #fh5co-intro .fh5co-block:focus .btn {
    border: 2px solid #fff !important;
    background: transparent;
}

#fh5co-intro .fh5co-block:hover .btn:hover, #fh5co-intro .fh5co-block:focus .btn:hover {
    background: #52d3aa !important;
    border: 2px solid #52d3aa !important;
}

.watch-video {
    text-align: center;
    width: 100%;
    display: block;
    float: left;
}

.watch-video span {
    display: block;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.watch-video .btn-video {
    display: block;
    font-size: 60px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border: 2px solid #52d3aa;
    line-height: 0px;
    display: table;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.watch-video .btn-video:hover, .watch-video .btn-video:focus, .watch-video .btn-video:active {
    text-decoration: none;
}

.watch-video .btn-video i {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    right: -9px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.watch-video .btn-video:hover i, .watch-video .btn-video:focus i {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#fh5co-services, #fh5co-testimonials, #fh5co-counters, #fh5co-work, #fh5co-contact {
    padding: 4em 0;
}

@media screen and (max-width: 768px) {
    #fh5co-services, #fh5co-testimonials, #fh5co-counters, #fh5co-work, #fh5co-contact {
        padding: 2em 0;
    }
}

#fh5co-services, #fh5co-work, #fh5co-counters {
    padding: 7em 0;
}

@media screen and (max-width: 768px) {
    #fh5co-services, #fh5co-work, #fh5co-counters {
        padding: 4em 0;
    }
}

#fh5co-services {
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}

#fh5co-services:before, #fh5co-services:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
}

#fh5co-services:before {
    top: 0;
    margin-top: -35px;
}

#fh5co-services:after {
    bottom: 0;
    margin-bottom: -35px;
}

#fh5co-services .fh5co-service {
    padding-right: 30px;
}

#fh5co-services h3 {
    font-size: 24px;
    color: #fff;
}

#fh5co-services .icon {
    font-size: 70px;
    margin-bottom: 30px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#fh5co-services .icon:before {
    color: #fff;
}

#fh5co-services .section-heading h2 {
    color: #fff;
}

#fh5co-services .section-heading h2.left-border:after {
    background: rgba(255, 255, 255, 0.3);
}

#fh5co-counters {
    background: #52d3aa;
    overflow: hidden;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    padding: 9em 0 10em 0;
}

@media screen and (max-width: 768px) {
    #fh5co-counters {
        padding: 4em 0;
    }
}

#fh5co-counters .fh5co-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
}

#fh5co-counters:before, #fh5co-counters:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
}

#fh5co-counters:before {
    top: 0;
    margin-top: -35px;
}

#fh5co-counters:after {
    bottom: 0;
    margin-bottom: -35px;
}

#fh5co-counters .section-heading {
    position: relative;
    z-index: 3;
    margin-bottom: 0;
}

#fh5co-counters .section-heading h2 {
    color: #fff;
}

#fh5co-counters .section-heading h2:after {
    background: rgba(255, 255, 255, 0.3) !important;
}

#fh5co-counters .section-heading .subtext h3 {
    color: rgba(255, 255, 255, 0.7) !important;
}

#fh5co-counters .fh5co-counter {
    position: relative;
    z-index: 3;
    text-align: center;
}

@media screen and (max-width: 992px) {
    #fh5co-counters .fh5co-counter {
        margin-bottom: 50px;
        float: left;
        width: 100%;
    }
}

#fh5co-counters .fh5co-counter .fh5co-counter-icon,
#fh5co-counters .fh5co-counter .fh5co-counter-number,
#fh5co-counters .fh5co-counter .fh5co-counter-label {
    display: block;
}

#fh5co-counters .fh5co-counter .fh5co-counter-icon {
    font-size: 40px;
    color: #52d3aa;
}

#fh5co-counters .fh5co-counter .fh5co-counter-number {
    font-size: 70px;
    color: #fff;
    font-weight: 300;
}

#fh5co-counters .fh5co-counter .fh5co-counter-label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
}

#fh5co-testimonials .box-testimony {
    margin-bottom: 2em;
    float: left;
}

#fh5co-testimonials .box-testimony a {
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-testimonials .box-testimony a:hover, #fh5co-testimonials .box-testimony a:focus, #fh5co-testimonials .box-testimony a:active {
    color: white;
    text-decoration: none;
}

#fh5co-testimonials .box-testimony blockquote {
    padding-left: 0;
    border-left: none;
    padding: 30px;
    background: #fff;
    background: #52d3aa;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

#fh5co-testimonials .box-testimony blockquote:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40px;
    border-top: 10px solid black;
    border-top-color: #fff;
    border-top-color: #52d3aa;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#fh5co-testimonials .box-testimony blockquote p {
    font-style: italic;
    color: #fff;
}

#fh5co-testimonials .box-testimony .author {
    line-height: 20px;
    color: black;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
}

#fh5co-testimonials .box-testimony .author a {
    color: #52d3aa;
}

#fh5co-testimonials .box-testimony .author a:hover {
    text-decoration: underline;
}

#fh5co-testimonials .box-testimony .author > figure {
    float: left;
    margin-right: 10px;
}

#fh5co-testimonials .box-testimony .author > figure img {
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#fh5co-testimonials .box-testimony .author p {
    float: left;
    margin-top: 10px;
}

#fh5co-testimonials .box-testimony .author .subtext {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400 !important;
}

#fh5co-work {
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

#fh5co-work a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

#fh5co-work a:hover {
    color: white;
}

#fh5co-work:before, #fh5co-work:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
}

#fh5co-work:before {
    top: 0;
    margin-top: -35px;
}

#fh5co-work:after {
    bottom: 0;
    margin-bottom: -35px;
}

#fh5co-work .section-heading h2 {
    color: #fff;
}

#fh5co-work .section-heading h2:after {
    background: rgba(255, 255, 255, 0.3);
}

#fh5co-work .section-heading h3 {
    color: rgba(255, 255, 255, 0.8);
}

#fh5co-work .fh5co-project-item {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#fh5co-work .fh5co-project-item img {
    z-index: 8;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#fh5co-work .fh5co-project-item .fh5co-text {
    padding: 10px 20px;
}

#fh5co-work .fh5co-project-item .fh5co-text h2, #fh5co-work .fh5co-project-item .fh5co-text span {
    text-decoration: none !important;
}

#fh5co-work .fh5co-project-item .fh5co-text h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

#fh5co-work .fh5co-project-item .fh5co-text span {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

#fh5co-work .fh5co-project-item:hover, #fh5co-work .fh5co-project-item:focus {
    -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    top: -15px;
}

#fh5co-work .fh5co-project-item:hover img, #fh5co-work .fh5co-project-item:focus img {
    opacity: .7;
}

#fh5co-work .fh5co-project-item:hover h2, #fh5co-work .fh5co-project-item:hover span, #fh5co-work .fh5co-project-item:focus h2, #fh5co-work .fh5co-project-item:focus span {
    text-decoration: none !important;
}

.fh5co-person {
    border: 2px solid #f2f2f2;
    padding: 80px 30px 30px 30px;
    float: left;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 992px) {
    .fh5co-person {
        margin-bottom: 3.5em;
    }
}

.fh5co-person figure {
    position: absolute;
    margin-top: -60px;
    top: 0;
    left: 50%;
    margin-left: -60px;
    display: block;
    margin-bottom: 50px;
}

.fh5co-person figure img {
    width: 120px;
    border: 2px solid #f2f2f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.fh5co-person h3 {
    margin-bottom: 0px;
}

.fh5co-person .fh5co-position {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
}

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 400;
}

.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #52d3aa;
}

.btn {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
}

#fh5co-contact {
    padding-bottom: 0;
}

#fh5co-contact .fh5co-contact-info {
    padding: 0;
    margin: 0 0 1.5em 0;
}

#fh5co-contact .fh5co-contact-info li {
    position: relative;
    padding: 0;
    margin: 0 0 1.5em 0;
    padding-left: 50px;
    list-style: none;
}

#fh5co-contact .fh5co-contact-info li i {
    position: absolute;
    top: .2em;
    left: 0;
}

.section-heading {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
    clear: both;
}

.section-heading h2 {
    margin: 0 0 30px 0;
    font-size: 50px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-bottom: 20px;
    line-height: 1.5;
}

.section-heading h2.left-border:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 0%;
    margin-left: 0px;
    bottom: 0;
}

.section-heading h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 50%;
    margin-left: -40px;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .section-heading h2 {
        font-size: 30px;
    }
}

.section-heading h3 {
    font-weight: 300;
    line-height: 1.5;
    color: #929292;
}

@media screen and (max-width: 768px) {
    .section-heading h3 {
        font-size: 24px !important;
        line-height: 34px;
    }
}

.btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}

.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #f36c23;
}

.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 25px;
    height: 3px;
    color: #52d3aa;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #f36c23;
    transition: all .2s ease-out;
}

.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 3px;
    background: #f36c23;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: absolute;
    top: 25px;
    right: 0px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 25px;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
    }
}

#footer {
    color: #7f7f7f;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
}

#footer .gotop {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -40px;
    background: #fff;
    z-index: 8;
    width: 80px;
    height: 80px;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

#footer p {
    font-size: 12px;
    font-weight: 400;
    font-family: "Arial";
    color: #000000;
    opacity: 0.7;
    margin-top: 15px;
}

#footer .alkaloid-logo img {
    width: 80px;
}

#footer ul.logo-copyrights {
    padding-left: 0;
}

#footer ul.logo-copyrights li {
    display: inline-block;
    list-style-type: none;
}

#footer .gotop:hover, #footer .gotop:focus {
    top: -25px;
    text-decoration: none !important;
}

#footer .copyright {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    #footer .copyright {
        text-align: center;
        padding-bottom: 5px;
    }

    #footer .alkaloid-logo {
        text-align: center;
        padding-top: 10px;
    }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn.btn-primary {
    background: none;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    box-shadow: none;
    background: #52d3aa;
}

.btn:hover, .btn:active, .btn:focus {
    background: #393e46 !important;
    color: #fff;
    outline: none !important;
}

.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: transparent;
}

.social {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%;
}

.social li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.social li a {
    font-size: 16px;
    display: table;
    width: 25px;
    height: 25px;
    margin: 0 4px;
}

.social li a i {
    display: table-cell;
    vertical-align: middle;
}

.social li a:hover, .social li a:active, .social li a:focus {
    text-decoration: none;
    border-bottom: none;
}

.social li a.social-box {
    background: #52d3aa;
    color: #fff;
}

.social li a.social-circle {
    background: #52d3aa;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.social li a:hover {
    background: #393e46 !important;
}

.social.social-box a {
    background: #52d3aa;
    color: #fff;
}

.social.social-circle a {
    background: #f36d24;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.social.social-circle a i {
    text-align: center;
}

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
    opacity: 0;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.row-bottom-padded-lg {
    padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
        padding-bottom: 2em;
    }
}

.row-bottom-padded-md {
    padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 2em;
    }
}

.row-bottom-padded-sm {
    padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
        padding-bottom: 2em;
    }
}

.fh5co-animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.table > thead > tr > th {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #5db2d6;
    border: 1px solid #5db2d6;
}

.table > tbody > tr > td {
    font-size: 16px;
    border: 1px solid #5db2d6;
}

.table > tbody > tr > td i {
    color: #f36d24;
}

.table > tbody > tr > td p {
    font-size: 22px;
    margin: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-250 {
    margin-top: 250px;
}

.ml-40 {
    margin-left: 40px;
}

.ml--15 {
    margin-left: -15px;
}

.question {
    width: 100%;
    display: block;
    clear: both;
    padding-top: 20px;
}

.question2, .question3, .buttons, .results {
    display: none;
}

.question h3 span {
    color: #f26d24;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
}

.question1 a {
    display: inline-block;
    width: 17%;
    height: 170px;
    margin: 10px 10px 10px 140px;
    display: table;
    float: left;
    box-sizing: border-box;
    min-width: 194px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.question2 a {
    display: inline-block;
    height: 170px;
    margin: 10px 40px 10px 145px;
    display: table;
    float: left;
    box-sizing: border-box;
    min-width: 170px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.question1 a {
    border: 1px solid #f26d24;
}

.question a span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #f26d24;
    padding: 10px;
}

.question2 a span {
    color: #fff;
}

.question1 a:hover, .question2 a:hover {
    text-decoration: none;
}

.question1 a:hover span, .question2 a:hover span {
    color: #ffc532;
}

.question1 a.active, .question2 a.active {
    text-decoration: none;
}

.question1 a.active span, .question2 a.active span {
    color: #ffc532;
}

.result {
    width: 100%;
    display: block;
    clear: both;
    padding-top: 20px;
}

.result h3 span {
    color: #f26d24;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
}

.result1, .result2, .result3,
.result4, .result5, .result6,
.result7, .result8, .result9 {
    display: none;
}

.result1 a, .result2 a, .result3 a,
.result4 a, .result5 a, .result6 a,
.result7 a, .result8 a, .result9 a {
    border: 1px solid #ffc532;
    padding: 5px 10px;
    margin: 10px 0px 10px 40px;
    display: table;
    float: left;
    text-align: center;
    min-width: 150px;
    min-height: 60px;
    cursor: pointer;
}

.result1 a span, .result2 a span, .result3 a span,
.result4 a span, .result5 a span, .result6 a span,
.result7 a span, .result8 a span, .result9 a span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #f26d24;
    padding: 10px;
}

.result1 a:hover, .result2 a:hover, .result3 a:hover,
.result4 a:hover, .result5 a:hover, .result6 a:hover,
.result7 a:hover, .result8 a:hover, .result9 a:hover {
    text-decoration: none;
}

.result1 a:hover span, .result2 a:hover span, .result3 a:hover span,
.result4 a:hover span, .result5 a:hover span, .result6 a:hover span,
.result7 a:hover span, .result8 a:hover span, .result9 a:hover span {
    color: #ffc532;
}

.result1 a.active, .result2 a.active, .result3 a.active,
.result4 a.active, .result5 a.active, .result6 a.active,
.result7 a.active, .result8 a.active, .result9 a.active {
    text-decoration: none;
}

.result1 a.active span, .result2 a.active span, .result3 a.active span,
.result4 a.active span, .result5 a.active span, .result6 a.active span,
.result7 a.active span, .result8 a.active span, .result9 a.active span {
    color: #ffc532;
}

.q1-1 {
    background-color: #f7e0d5;
}

.q1-2 {
    background-color: #efc6ae;
}

.q1-3 {
    background-color: #d6906d;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #fh5co-header #navbar li a {
        font-weight: 300;
    }

    .bu-tips p {
        font-weight: 300;
    }

    .bu-ingredient p {
        font-weight: 300;
    }

    .product-title {
        left: 21%;
    }

    .blackup-product .description p {
        font-weight: 300;
    }

    .blackup-product .thumbnails {
        width: auto;
    }

    .product-type {
        position: relative;
        left: 20px;
    }

    .bu-facts .fact-desciption {
        font-weight: 300;
    }

    .bu-facts .fact-desciption ol li p {
        font-weight: 300;
    }

    .bu-facts .fact-desciption ul li p {
        font-weight: 300;
    }
}

.cookies-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 30px 40px;
    font-size: 14px;
    background-color: rgba(243, 109, 36, 0.9);
    display: none;
    grid-template-columns:60% auto;
    align-items: center;
    color: white;
}

@media (max-width: 768px) {
    .cookies-popup {
        grid-template-columns:auto;
        grid-gap: 10px;
    }
}

.cookies-popup > .content > .title {
    font-size: 19px;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
}

.cookies-popup > .content > .description {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 20px;
    font-family: inherit;
    color: inherit;
    letter-spacing: 0.2px;
}

.cookies-popup > .content > .description a {
    color: #ffc531;
}

.cookies-popup > .action {
    display: flex;
    margin-left: 30%;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .cookies-popup > .action {
        margin-left: 0;
    }
}

.cookies-popup > .action > .chk {
    margin-right: 70px;
    display: grid;
    grid-template-columns:auto auto;
    align-items: center;
    align-content: center;
}

.cookies-popup > .action > .chk > input {
    margin: 0;
}

.cookies-popup > .action > .chk > label {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 0 5px;
}

.cookies-popup > .action > .btn-ok {
    border: 0;
    display: block;
    line-height: 1.2em !important;
    font-size: .9em;
    font-weight: 700;
    color: rgb(243, 108, 35);
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    padding: 15px 35px;
}

.cookies-popup > .action > .btn-ok:focus {
    outline: none;
}

@media screen and (max-width: 1200px) {
    #fh5co-header #navbar li a {
        font-size: 18px;
        padding: 30px 20px 15px 0px;
    }

    .bu-tips .tips-products img {
        width: 500px;
    }

    .bu-tips .tips-products {
        margin-top: 210px;
    }

    .bu-tips .tips-products img {
        width: 400px;
    }

    .product-title {
        top: -6.5%;
        left: 30%;
    }

    .product-title p {
        font-size: 16px;
    }

    .blackup-product {
        padding-bottom: 30%;
    }

    .blackup-product .product-image {
        width: 200px;
    }

    .blackup-product .thumbnails {
        width: 170px;
    }

    .thumbnails img {
        margin-top: 0;
        max-width: 60%;
    }

    .slider-thumb:before {
        content: "";
        position: absolute;
        right: 15px;
        top: 0.2em;
        height: 5em;
        width: 2px;
        background-color: #f8ce06;
    }

    .slider-thumb:after {
        content: "";
        position: absolute;
        right: 15px;
        bottom: 1.5em;
        height: 5em;
        width: 2px;
        background-color: #f8ce06;
    }

    .question1 a {
        margin: 10px 10px 10px 100px;
    }

    .question2 a {
        margin: 10px 40px 10px 100px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: none !important;
    }

    #fh5co-header #navbar li a {
        font-size: 18px;
        padding: 10px 5px 15px 0px;
        text-align: left;
    }

    .navbar-nav > li > .dropdown-menu li {
        border-bottom: none;
    }

    .product-title {
        top: -7%;
        left: 21%;
    }

    .product-title p {
        font-size: 16px;
    }

    #footer .alkaloid-logo {
        text-align: center;
        padding-top: 10px;
    }

    .social {
        text-align: center;
    }

    .blackup-product {
        padding-bottom: 38%;
    }

    .blackup-product .product-image {
        width: 180px;
        left: 17%;
    }

    .blackup-product p {
        font-size: 18px;
    }

    .blackup-product .description {
        width: 400px;
    }

    .blackup-product .description p {
        font-size: 14px;
    }

    .results, .col-md-12 {
        clear: both;
    }

    #footer ul.logo-copyrights li {
        display: inline;
    }
}

@media screen and (max-width: 980px) {
    .question1 a {
        margin: 10px 10px 10px 30px;
    }

    .question2 a {
        margin: 10px 40px 10px 30px;
    }
}

@media screen and (max-width: 812px) {
    .bu-tips .tips-products img {
        width: 500px;
    }

    .bu-facts p {
        font-size: 20px;
    }

    .question1 a {
        margin: 10px 10px 10px 30px;
    }

    .question2 a {
        margin: 10px 40px 10px 30px;
    }

    .bu-facts p {
        clear: both;
    }
}

@media screen and (max-width: 770px) {
    .tp-caption.medium_bg_orange {
        font-size: 20px !important;
    }

    #fh5co-header #navbar ul {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .bu-tips {
        background-position: bottom;
    }

    .bu-tips p {
        top: -10%;
        left: 42%;
    }

    .product-title {
        top: -5%;
        left: 28%;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        border-top: 0.5px solid rgb(255, 197, 49) !important;
    }

    .bu-tips {
        background-position: bottom;
    }

    .fh5co-nav-toggle {
        display: block;
    }
}

@media (max-width: 700px) {
    .blackup-product .description {
        width: 350px;
    }

    .blackup-product {
        padding-bottom: 55%;
    }
}

@media (max-width: 677px) {
    .tp-caption.medium_bg_orange {
        font-size: 19px !important;
    }

    .product-title {
        left: 22%;
    }

    .blackup-product {
        padding-bottom: 70%;
    }

    .blackup-product .description {
        width: 350px;
    }

    .blackup-product .thumbnails {
        width: 100px;
    }

    .blackup-product .product-image {
        left: 13%;
    }

    .question1 a {
        margin: 10px 10px 10px 230px;
    }

    .question2 a {
        margin: 10px 40px 10px 0px;
    }

    .results, .col-md-12 {
        clear: both;
    }
}

@media (max-width: 620px) {
    .blackup-product .description {
        width: 320px;
    }
}

@media (max-width: 610px) {
    .blackup-product {
        padding-bottom: 80%;
    }

    .blackup-product .description {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .blackup-product {
        padding-bottom: 80%;
    }

    .blackup-product .description {
        width: 320px;
    }
}

@media (max-width: 560px) {
    .blackup-product {
        padding-bottom: 50%;
    }

    .product-title {
        left: 17%;
    }

    .blackup-product .product-image {
        width: 150px;
    }

    .blackup-product .description {
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 550px) {
    .blackup-product .thumbnails {
        width: 80px;
    }

    .blackup-product .description {
        width: 250px;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {
    .bu-tips figure p {
        font-size: 20px;
        width: 70px;
        height: 70px;
    }

    .bu-tips .tips-products {
        margin-top: 100px !important;
    }

    .bu-tips p {
        font-size: 16px;
        top: -20%;
    }

    .bu-ingredient p {
        font-size: 22px;
    }

    .bu-tips p {
        font-size: 19px;
        left: 38%;
    }

    .bu-tips .tips-products {
        margin-top: 120px !important;
    }

    .bu-tips .tips-products img {
        width: 250px;
    }

    .bu-tips .tips-products img {
        width: 250px;
    }

    .bu-tips img {
        width: 70%;
    }

    .blackup-product {
        padding-bottom: 5%;
    }

    #blackup-intro {
        margin-top: 70px;
    }

    .product-title {
        top: -5%;
        left: 5%;
    }

    .blackup-product p {
        font-size: 18px;
        line-height: 20px;
    }

    .blackup-product .thumbnails {
        width: 150px;
        top: 40px;
    }

    .blackup-product .product-image {
        left: 35%;
        top: 30px;
        width: 190px;
    }

    .blackup-product .description {
        position: initial;
        padding: 0px 0px 15px 15px;
        width: auto;
        margin-top: 80%;
    }

    .question1 a {
        margin: 10px 10px 10px 75px;
    }

    .question2 a {
        margin: 10px 40px 10px 90px;
    }

    .results, .col-md-12 {
        clear: both;
    }
}

@media screen and (max-width: 425px) {
    .tp-caption.medium_bg_orange {
        font-size: 14px !important;
        top: 160px !important;
        left: 12px !important;
    }

    #blackup-intro {
        margin-top: 70px;
    }

    .blackup-product {
        padding-bottom: 10%;
    }

    .product-title {
        top: -4%;
        left: 4%;
    }

    .blackup-product .description {
        margin-top: 100%;
    }
}

@media screen and (max-width: 400px) {
    .tp-caption.medium_bg_orange {
        font-size: 15px !important;
        top: 160px !important;
        left: 12px !important;
        white-space: nowrap;
    }

    .bu-tips figure p {
        font-size: 20px;
        width: 70px;
        height: 70px;
    }

    .bu-tips .tips-products {
        margin-top: 100px !important;
    }

    .bu-tips p {
        font-size: 16px;
        top: -20%;
    }

    .bu-ingredient p {
        font-size: 22px;
    }

    .bu-tips p {
        font-size: 19px;
        left: 38%;
    }

    .bu-tips .tips-products {
        margin-top: 120px !important;
    }

    .bu-tips .tips-products img {
        width: 250px;
    }

    .bu-tips .tips-products img {
        width: 250px;
    }

    .bu-tips img {
        width: 70%;
    }

    .bu-ingredient img {
        width: 100%;
    }

    .blackup-product {
        padding-bottom: 5%;
    }

    #blackup-intro {
        margin-top: 70px;
    }

    .product-title {
        top: -5%;
        left: 0%;
    }

    .blackup-product p {
        font-size: 18px;
        line-height: 20px;
    }

    .blackup-product .thumbnails {
        width: 150px;
        top: 40px;
    }

    .blackup-product .product-image {
        left: 35%;
        top: 30px;
        width: 190px;
    }

    .blackup-product .description {
        position: initial;
        padding: 0px 0px 15px 15px;
        width: auto;
        margin-top: 115%;
    }

    .question1 a {
        margin: 10px 10px 10px 75px;
    }

    .question2 a {
        margin: 10px 40px 10px 90px;
    }

    .results, .col-md-12 {
        clear: both;
    }
}

@media screen and (max-width: 380px) {
    .tp-caption.medium_bg_orange {
        font-size: 14px !important;
        top: 160px !important;
        left: 12px !important;
    }
}

@media screen and (max-width: 360px) {
    .tp-caption.medium_bg_orange {
        font-size: 14px !important;
        top: 165px !important;
        left: 12px !important;
    }
}

@media screen and (max-width: 340px) {
    .tp-caption.medium_bg_orange {
        font-size: 14px !important;
        top: 160px !important;
        left: 12px !important;
    }
}

@media screen and (max-width: 330px) {
    .tp-caption.medium_bg_orange {
        font-size: 14px !important;
        top: 150px !important;
        left: 30px !important;
    }
}

@media screen and (max-width: 320px) {
    .tp-caption.medium_bg_orange {
        font-size: 14px !important;
        top: 145px !important;
        left: 30px !important;
    }

    .blackup-product .description {
        width: 290px;
        margin-top: 130%;
    }

    .blackup-product .thumbnails {
        width: 120px;
    }

    .owl-carousel .owl-item img {
        width: 100%;
    }

    .question1 a {
        margin: 10px 10px 10px 50px;
    }

    .question2 a {
        margin: 10px 10px 10px 60px;
    }

    .result1 a, .result2 a, .result3 a,
    .result4 a, .result5 a, .result6 a,
    .result7 a, .result8 a, .result9 a {
        margin: 10px 0px 10px 20px;
    }
}

@media screen and (max-width: 300px) {
    .tp-caption.medium_bg_orange {
        font-size: 13px !important;
        top: 135px !important;
        left: 30px !important;
    }
}

.title-side-text {
    font-family: "Oswald", sans-serif;
    color: #f36c23;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: normal;
    text-transform: none;
    font-size: 32px;
}

.new-product-title {
    font-family: "Oswald", sans-serif;
    color: #f36c23;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: normal;
    text-transform: none;
    font-size: 32px;
}

.product-description {
    color: #f36c23;
    text-align: left;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 24px;
    margin: 16px 0;
}

.btn-more {
    font-weight: 400;
    font-size: 20px;
    background: #f36d24;
    margin: 16px auto;
    text-align: center;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.btn-more:hover {
    background: #f36d24;
    color: white;
    text-decoration: none;
}

.section-apps {
    background: #fd8125;
}

.action-stores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-images {
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-image {
    width: 170px;
    margin-right: 32px;
}

.counter-icons-list {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.counter-icon {
    width: 70px;
}

.download-section {
    padding-bottom: 16px;
    margin-right: 8px !important;
}

@media screen and (max-width: 768px) {
    .counter-image {
        width: 110px;
    }

    .counter-icons-list {
        margin-left: 70px;
    }

    .counter-icon {
        width: 50px;
    }

    .tmp-image {
        margin-bottom: 16px;
    }

    .download-img {
        width: 250px;
    }

    .download-section {
        padding-bottom: 16px;
        margin-right: -16px !important;
    }
}

.action-stores > img {
    margin-left: 8px;
}

.disable-hover-effect:hover {
    text-decoration: none;
}

.znakce {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

.new-product-image {
    margin-top: 5px;
    margin-left: 35px !important;
    width: 180px;
}